@import 'normalize.css';
@import 'vars';
@import 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 14px;
  font-weight: 500;
}